/* Fonts:
Title: Akaya Kanadaka
Serif (supporting Devnagiri): Laila ✅
Sans-serif (supporting Devnagiri): IBM Plex Sans Devanagari✅
*/
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&family=Laila:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
CSS background pattern resources: 
https://css-pattern.com/
https://www.magicpattern.design/tools/css-backgrounds
https://freefrontend.com/css-background-patterns
*/

html {
  --s: 30px;
  --c1: #f5e19e8a;
  --c2: #79be8b5d;
  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;

  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50% at center center, var(--_g)),
    radial-gradient(50% 50% at center center, var(--_g)) calc(var(--s) / 2)
      calc(var(--s) / 2) var(--c1);

  background-size: var(--s) var(--s);
  background-repeat: repeat;
}
