---
import BaseLayout from "../layouts/BaseLayout.astro";
const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout title="Cooking notes">
  <a href=`${baseUrl}/ingredients`>Go to Ingredients reference</a>
</BaseLayout>
